<!DOCTYPE html> 
<html>   
  <head>     
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />   
  </head>   
    <body>
<p> <i> Hello <%= @leave.user.profile.nil? ? @leave.user.email.split("@").first : @leave.user.name %>, </i>
</p>
</br>
</br>
<p>
Your Leave Application for leaves from <%= @leave.starts_at.strftime("%d %B %Y") %> to <%= @leave.ends_at.strftime("%d %B %Y") %>has been
approved by <%= @user.roles %> <%= @user.profile.nil? ? @user.email : @user.name %>.
</br>
<br/>
Thanks and Regards,
</br>
<%= @user.organization.name %> Team
</body>
</html>
