<!DOCTYPE html> 
<html>   
  <head>     
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />   
  </head>   
  <body>
<i>
Hello,
</i>
<br/>
<p>
<<<<<<< HEAD
Leave Application of <%= @user.profile.nil? ? @user.email.split("@").first : @user.name %> is pending for approval.
<br/>
=======
Leave Application of <%= @user.profile.nil? ? @user.email : @user.name %> is pending for approval.
<br>
>>>>>>> cebd60eb21d0911adc6428045c9bb49d233bd78e
reason:
<br/>
      <p><%= @leave.reason %>
      <br />
from date:<br/>       <%= @leave.starts_at.strftime("%A, %B %d, %Y") %><br/> to  <br/> <%= @leave.ends_at.strftime("%A, %B %d, %Y") %></p>
<p>You can approve the same by clicking the link below:   <%= link_to 'Link approve', leaves_path(only_path: false,       host: [@user.organization.slug, '.',"niwantintranet.com"].join) %> to take action.
    <br/>
    <p>Thanks and Regards,<br/>
<p>You can approve the same by clicking the link below:   <%= link_to 'Approve', leaves_path(only_path: false,       host: [@user.organization.slug, '.',"niwantintranet.com"].join) %> to take action.
    <br />
    <p>Thanks and Regards,<br/>
  <%= @user.organization.name.capitalize %> Team</p>   
  </body> 
</html> 


