<!DOCTYPE html> 
<html>   
  <head>     
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />   
  </head>   
  <body>
<p> <i> Hello <%= @leave.user.profile.nil? ? @leave.user.email.split("@").first : @leave.user.name %>, </i> </p>
<p>
The leave you applied from <%= @leave.starts_at %> to</br> <%= @leave.ends_at %> has been regected by your <%= @user.roles %> <%= @user.profile.nil? ? @user.email : @user.name %> for the following reason that has been specified.
</br>

<ul>
<li> <%= @leave.reject_reason %> </li>
</ul>
</p>
</br>
Thanks and Regards,
<br/>
<%= @user.organization.name.capitalize %> team
</body>
</html>
