<p>Hello <%= @resource.email %>!</p>

<br>
Greetings!
<p><%= @resource.organization.name %> invited you to: </br> 
<%= link_to root_url( host: [@resource.organization.slug, '.',"niwantintranet.com"].join), root_url( host: [@resource.organization.slug, '.',"niwantintranet.com"].join) %></br>
<br/>
Please accept the invitation through link below.</p>

<p><%= link_to 'Accept invitation', accept_invitation_path(@resource, :invitation_token => @resource.invitation_token, only_path: false, 
host: [@resource.organization.slug, '.',"niwantintranet.com"].join) %></p>

<p>Note: <br/> Your account won't be created until you accept the invitation and set the password.</p>

<p>Thanks and Regards, </br>
<%= @resource.organization.name %> Team.</p>   

 
